<template>
  <div class="relative">
    <div class="absolute aspect-square rounded-full inset-0 bg-fuchsia-500 opacity-[12%] blur-2xl -mt-16 ml-8 animate-move-about" />
    <svg class="relative" width="100%" height="100%" viewBox="0 0 791 225" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
      <rect id="Artboard1" x="0" y="0" width="790.275" height="224.327" style="fill:none;" />
      <text x="364.7px" y="141.57px"
        style="font-family:'Strawford', 'Strawford';font-weight:400;font-size:123.044px;fill:#fff;">a<tspan
          x="421.916px 476.793px 512.476px 577.074px 635.274px 693.72px "
          y="141.57px 141.57px 141.57px 141.57px 141.57px 141.57px ">kronym</tspan></text>
      <path
        d="M108.187,81.621c17.196,-0 31.157,13.961 31.157,31.157c0,17.195 -13.961,31.156 -31.157,31.156c-17.195,0 -31.156,-13.961 -31.156,-31.156c-0,-17.196 13.961,-31.157 31.156,-31.157Zm0,12.262c10.429,-0 18.895,8.466 18.895,18.895c-0,10.428 -8.466,18.894 -18.895,18.894c-10.428,0 -18.894,-8.466 -18.894,-18.894c-0,-10.429 8.466,-18.895 18.894,-18.895Z"
        style="fill:#fff;stroke:#fff;stroke-width:1px;" />
      <path d="M37.551,81.621l36.6,62.313l-73.199,0l36.599,-62.313Z" style="fill:#fff;" />
      <path
        d="M37.551,81.621l36.6,62.313l-73.199,0l36.599,-62.313Zm0,33.567l6.899,11.746c0,0 -13.798,0 -13.798,0l6.899,-11.746Z"
        style="fill:#fff;" />
      <path d="M177.423,143.934l-36.599,-62.313l73.199,-0l-36.6,62.313Z" style="fill:#fff;" />
      <path
        d="M177.423,143.934l-36.599,-62.313l73.199,-0l-36.6,62.313Zm0,-33.567l-6.899,-11.746c-0,-0 13.798,-0 13.798,-0l-6.899,11.746Z"
        style="fill:#fff;" />
      <path d="M286.76,3.784l0,217.987" style="fill:none;stroke:#fff;stroke-width:1px;" />
    </svg>
  </div>
</template>

