@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
      font-family: "Strawford";
      font-weight: 400;
      src: local("Strawford"),
      url(~/assets/strawford/strawford-regular-webfont.woff2) format("woff2");
  }

  html {
    font-family: Strawford, system-ui, sans-serif;
    background: black;
  }
}
