<script setup lang="ts">
import { useRoute } from 'vue-router'
const route = useRoute();
</script>

<template>
  <div class="absolute inset-0 flex flex-col items-center justify-between space-y-8 text-white xl:space-y-16">
    <Logo class="w-64 h-auto mt-20 pointer-events-none select-none" />
    <div class="mx-2 prose prose-invert md:prose-lg max-w-prose md:mx-0">
      <NuxtPage />
    </div>
    <div class="bottom-0 flex flex-row p-8 space-x-4">
      <NuxtLink to="/contact">Kontakt</NuxtLink>
      <span>|</span>
      <span>
        <NuxtLink to="/privacypolicy">Datenschutzerklärung</NuxtLink>
      </span>
      <span>|</span>
      <a v-if="route?.path === '/'" href="mailto:info@akronym.org">info@akronym.org</a>
      <span v-else class="inline-flex items-center space-x-0.5">
        <Icon name="carbon:campsite" />
        <NuxtLink to="/">Start</NuxtLink>
      </span>
    </div>
  </div>
</template>

<style>
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
</style>