<script setup lang="ts">
import { PropType } from 'vue'

const props = defineProps({
  title: {
    type: String,
    required: false,
    default: ''
  },
  stack: {
    type: String,
    required: false,
  }
})

const stack = computed(() => {
  return props.stack.split(',') || []
})

</script>

<template>
  <div class="relative cursor-default justify-self-center w-80 group">
    <div class="absolute transition duration-1000 group-hover:duration-200 rounded-lg opacity-50 group-hover:opacity-100 -inset-0.5 bg-gradient-to-r from-fuchsia-500 to-purple-500 animate-tilt"></div>
    <div class="relative w-full h-full bg-black rounded-lg">
      <div class="flex flex-col h-full p-5">
        <!-- <h5 class="mb-2 text-2xl tracking-tight text-right text-fuchsia-500">
      </h5> -->
        <div class="text-gray-400 transition duration-700 group-hover:duration-200 group-hover:text-gray-300">
          <slot />
        </div>
        <div class="flex-1" />
        <div v-if="stack.length > 0" class="flex flex-row justify-end space-x-5">
          <div v-for="item in stack" :key="item">
            <Icon :title="item.split(':')[1]" :name="item" size="1.75rem" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>